# Statistics: 2 types, descriptive and Inferential statistics

In [1]:
#Descriptive Statistics
#in measure of central tendency
#mean, median, mode

# Measure of central tendency

In [2]:
#mean
import numpy as np
x=[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]
#using numpy
np.mean(x)

4.466666666666667

In [5]:
#created the list into a table format
import pandas as pd
z=pd.DataFrame(data={'values':[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]})
z

    values
0        2
1        4
2        3
3        1
4        2
5        3
6        4
7        5
8        2
9        6
10       8
11       5
12       4
13       8
14      10

In [6]:
#mean using pandas
z.mean()

values    4.466667
dtype: float64

In [7]:
x=[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]
#using numpy 
np.median(x)

4.0

In [8]:
print("mesian:",np.median(x))

mesian: 4.0

In [9]:
#using pandas
z.median()

values    4.0
dtype: float64

In [10]:
z.describe()

          values
count  15.000000
mean    4.466667
std     2.587516
min     1.000000
25%     2.500000
50%     4.000000
75%     5.500000
max    10.000000

In [11]:
#mode
#numpy does not has an attribute mode

In [12]:
#using pandas
z.mode()

   values
0       2
1       4

In [13]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

# Measure of Dispersion

In [19]:
#variance
x=[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]

#using numpy
np.var(x)

6.248888888888888

In [15]:
print("Variance:", np.var(x))

Variance: 6.248888888888888

In [16]:
#using pandas
z.var()

values    6.695238
dtype: float64

In [17]:
#standard deviation
x=[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]

#using numpy
np.std(x)

2.4997777679003566

In [18]:
print("Variance :",np.std(x) )

Variance : 2.4997777679003566

In [20]:
#using pandas
z.std()

values    2.587516
dtype: float64

# 5 number Summary

1. Minimum
2. 1st quartile -Q1
3. 2nd quartile -Q2(Median)
4. 3rd quartile -Q3
5. Maximum

In [21]:
#Minimum
X=[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]

#using numpy
np.min(X)

1

In [22]:
print("Minimum : ", np.min(X))

Minimum :  1

In [23]:
#using pandas
z.min()

values    1
dtype: int64

In [24]:
#quartiles
X=[2,4,3,1,2,3,4,5,2,6,8,5,4,8,10]

#using numpy
np.quantile(X,[0.25,0.50,0.75])

array([2.5, 4. , 5.5])

In [25]:
print("Q1 : ", np.quantile(X,0.25),
      "Q2 : ", np.quantile(X,0.50),
      "Q3 : ", np.quantile(X,0.75))

Q1 :  2.5 Q2 :  4.0 Q3 :  5.5

In [26]:
#using pandas
z.quantile([0.25,0.50,0.75])

      values
0.25     2.5
0.50     4.0
0.75     5.5

In [27]:
z.describe()

          values
count  15.000000
mean    4.466667
std     2.587516
min     1.000000
25%     2.500000
50%     4.000000
75%     5.500000
max    10.000000

In [28]:
#Maximum
X=[2,4,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.max(X)

10

In [29]:
print("Maximum : ", np.max(X))

Maximum :  10

In [30]:
#using pandas
z.max()

values    10
dtype: int64

# Range

In [31]:
#Range
#using numpy

Ran=np.max(X) - np.min(X)
Ran

9

In [32]:
#using pandas
Range = z.max()-z.min()
Range

values    9
dtype: int64

# IQR

In [33]:
#IQR
#using numpy
IQR = np.quantile(X,0.75)-np.quantile(X,0.25)
IQR

3.0

In [34]:
#using pandas
iqr=z.quantile(0.75)-z.quantile(0.25)
iqr

values    3.0
dtype: float64

# QD

In [35]:
#QD
#using numpy
QD = IQR/2
QD

1.5

In [36]:
#QD
#using pandas
qd =iqr/2
qd

values    1.5
dtype: float64